* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

a {
	color: #008a20;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-bottom: 10px;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

input {
	display: block;
}

input[type="radio"],
input[type="checkbox"] {
	display: inline-block;
	margin-right: 5px;
}

textarea {
	padding: 5px;
	resize: none;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
	outline: none;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
	padding: 8px 12px;
    background: white;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    font-size: 0.9rem;
    font-family: Arial;
    color: buttontext;
	display: inline-block;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
	background: #e6e6e6;
	cursor: pointer;
}

.button-primary,
input.button-primary {
	background: #00c652;
    border: 1px solid #00c652 ;
    color: white ;
}

.button-primary:hover,
input.button-primary:hover {
	background: #009940;
}

input[type="text"],
input[type="password"],
select,
.input {
	padding: 8px 12px;
    background: white;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    font-size: 0.9rem;
	height: 34.8px;
}

textarea.input {
	height: 100px;
}

/* .file-input { */
	/* padding: 12px; */
	/* display: flex; */
	/* align-items: center; */
	/* width: 400px; */
/* } */

.button.file-button input[type="file"] {
	display: none;
}

.button-light {
	font-size: 0.8rem;
	padding: 4px 6px;
}

.input-group {
	display: flex;
	margin: 5px 0;
	align-items: center;
}

.input-group > input,
.input-group > select,
.input-group > textarea {
	margin-right: 5px;
	width: 100%;
}

.input-group > label.form-input {
	margin-right: 20px;
}

.input-group > :last-child {
	margin-right: 0;
}

input.form-input,
select.form-input {
	width: initial;
}

label {
	display: inline-block;
	/* margin-top: 10px; */
}

.container {
	padding: 15px 100px;
}

.row {
	display: flex;
}

.col-1 {
	flex-grow: 1;
	flex-basis: 0;
}

.col-2 {
	flex-grow: 2;
	flex-basis: 0;
}

.col-3 {
	flex-grow: 3;
	flex-basis: 0;
}

.col-4 {
	flex-grow: 4;
	flex-basis: 0;
}

.col-5 {
	flex-grow: 5;
	flex-basis: 0;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}
