#navbar {
	height: 60px;
	background: #353535;
	padding: 0 50px;
	overflow: hidden;
}

#navbar a {
	color: white;
	height: 100%;
	display: flex;
	align-items: center;
}

#navbar input {
	display: inline-block;
}

#navbar .logo {
	height: 100%;
	margin-right: 15px;
}

#navbar .left-pane {
	float: left;
}

#navbar .right-pane {
	float: right;
}

#navbar .left-pane, #navbar .right-pane {
	height: 100%;
    display: flex;
    align-items: center;
}

#navbar a.brand {
	padding: 10px;
	display: flex;
    height: 100%;
    align-items: center;
	font-size: 1.75rem;
	margin-right: 15px;
}

#navbar .navbar-menu {
	display: flex;
	list-style: none;
	height: 100%;
}

#navbar .navbar-menu li {
	margin: 0 10px;
}

#navbar .navbar-menu .navbar-user-avatar {
	height: 45px;
	width: 45px;
    border-radius: 30px;
	margin-right: 10px;
}

.input-search input {
	border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.input-search button {
	margin-left: -5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.jumbotron {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 400px;
	background: #00c853;
	color: #f5f5f5;
}

.jumbotron .logo {
	width: 192px;
}

#features .feature {
	text-align: center;
	margin: 15px;
}

#features .feature .feature-icon {
	font-size: 4.5rem;
	color: #00c853;
}

#register-container {
	width: 50%;
	margin: 0 auto;
}

#profile-container {
	width: 1024px;
	margin: 100px auto;
	position: relative;
}

#profile-header-container {
	background: #565656;
	height: 250px;
	border-radius: 10px 10px 0 0;
}

#profile-background {
	position: absolute;
	overflow: hidden;
	height: inherit;
	border-radius: inherit;
}

#profile-background img {
	width: 100%;
	z-index: 1;
}

#profile-header {
	position: relative;
	z-index: 1;
	width: 300px;
	margin: 0 auto;
	text-align: center;
	color: white;
    bottom: 50px;
}

#profile-header h2 {
	font-weight: bold;
}

#profile-avatar {
	width: 192px;
	height: 192px;
	margin: 0 auto;
	border: 10px solid white;
	border-radius: 150px;
	overflow: hidden;
	box-sizing: content-box;
	box-shadow: 0 0 20px 0px #00000080;
}

#profile-avatar img {
	width: inherit;
	height: inherit;
}

#profile-menu {
	padding: 0 20px;
	height: 45px;
	border-radius: 0 0 10px 10px;
	border: 1px solid #565656;
    background: #fafafa;
}

#profile-menu > ul {
	list-style: none;
	display: flex;
	height: 100%;
}

#profile-menu > ul > li {
	display: block;
	border-right: 1px solid #565656;
	padding: 0 15px;
}

#profile-menu > ul > li:hover {
	    background: #e2e2e2;
}

#profile-menu > ul > li:first-child {
	border-left: 1px solid #565656;
}

#profile-menu > ul > li a {
	color: black;
	height: 100%;
	display: flex;
    align-items: center;
}

#profile-content {
	margin: 30px 10px 0 15px;
	/* border: 1px solid #565656; */
	/* border-radius: 10px; */
}

#profile-about h2 {
	border-bottom: 1px solid #565656;
	padding-bottom: 5px;
	margin-top: 30px;
	margin-bottom: 15px;
}

#profile-about ul {
	list-style: none;
}

#profile-about ul li span, #profile-about dl dt {
	display: inline-block;
	font-weight: bold;
	width: 150px;
	font-size: 1.2rem;
}